#!/usr/bin/env python
PACKAGE = "rycsv_kobuki_motion_control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("k_p",    double_t,    0, "Controller 'p' gain", 0.7,  -10, 10)
gen.add("k_a",    double_t,    0, "Controller 'a' gain", 6.0,  0, 40)
gen.add("k_b",    double_t,    0, "Controller 'b' gain", -7.0, -40, 0)


exit(gen.generate(PACKAGE, "rycsv_kobuki_motion_control", "controller"))